<a target="_blank" href="mailto:subscribe@stuartschechter.org?subject=More%20articles,%20please!&body=Hi%20Stuart,%0a%0aPlease%20subscribe%20me%20to%20your%20article-distribution%20list%20and%20thanks%20for%20sending%20an%20unsubscribe%20link%20in%20case%20I%20change%20my%20mind.%0a%0aSince%20you%20actually%20read%20these%20personally,%20maybe%20I'll%20tell%20you%20a%20little%20bit%20about%20myself%20and%20why%20I'm%20signing%20up.%0a%0a"
>sending me an email</a> (which I might actually read)
or
following me at 
<a target="_blank" href="https://mastodon.social/@MildlyAggrievedScientist"
>@MildlyAggrievedScientist</a>